<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gurux.Common" version="8.1.1907.301" targetFramework="net40" />
  <package id="Gurux.DLMS" version="8.5.1908.1601" targetFramework="net40" />
  <package id="Gurux.Net" version="8.1.1909.601" targetFramework="net40" />
  <package id="Gurux.Serial" version="8.1.1909.601" targetFramework="net40" />
</packages>