<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gurux.Common" version="8.1.1811.1101" targetFramework="net40" />
  <package id="Gurux.DLMS" version="8.5.1903.2001" targetFramework="net40" />
  <package id="Gurux.Net" version="8.1.1903.601" targetFramework="net40" />
  <package id="Gurux.Serial" version="8.1.1811.1101" targetFramework="net40" />
</packages>