<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gurux.Common" version="8.1.16.1124" targetFramework="net35" />
  <package id="Gurux.DLMS" version="8.5.1705.1201" targetFramework="net35" />
  <package id="Gurux.Net" version="8.1.1703.3101" targetFramework="net35" />
  <package id="Gurux.Serial" version="8.1.1702.1001" targetFramework="net35" />
</packages>