<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gurux.Common" version="7.0.32.1" targetFramework="net35" />
  <package id="Gurux.DLMS" version="8.0.0.3" targetFramework="net35" />
  <package id="Gurux.Net" version="7.0.25.1" targetFramework="net35" />
  <package id="Gurux.Serial" version="7.0.23.1" targetFramework="net35" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net35" />
</packages>