<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gurux.Common" version="8.0.8.4" targetFramework="net35" />
  <package id="Gurux.DLMS" version="8.5.0.2" targetFramework="net35" />
  <package id="Gurux.Net" version="8.0.0.2" targetFramework="net35" />
  <package id="Gurux.Serial" version="7.0.25.1" targetFramework="net35" />
</packages>