<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gurux.Common" version="8.1.2106.1701" targetFramework="net40" requireReinstallation="true" />
  <package id="Gurux.Net" version="8.1.2106.1701" targetFramework="net40" requireReinstallation="true" />
  <package id="Gurux.Serial" version="8.1.2106.1701" targetFramework="net40" requireReinstallation="true" />
</packages>