<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gurux.Common" version="8.4.2301.402" targetFramework="net48" />
  <package id="Gurux.MQTT" version="8.1.2301.402" targetFramework="net48" />
  <package id="Gurux.Net" version="8.4.2301.402" targetFramework="net48" />
  <package id="Gurux.Serial" version="8.4.2301.402" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net48" />
  <package id="MQTTnet" version="4.1.4.563" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net48" />
</packages>