<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gurux.Common" version="8.4.2301.402" targetFramework="net48" />
  <package id="Gurux.DLMS" version="9.0.2301.301" targetFramework="net48" />
  <package id="Gurux.Net" version="8.4.2301.402" targetFramework="net48" />
  <package id="Gurux.Serial" version="8.4.2301.402" targetFramework="net48" />
</packages>